<div class="container">

  <h1>
    <center>Weather Buddy
  </h1>

  <!-- State Input by User -->
  <form>
    <label>
      State: (Ex: Texas or TX)<br>
      <input id="state-search"type="text">
    </label>
  </form>

  <!-- City Input by User -->
  <form>
    <label>
      City:<br>
      <input id="city-search" type="text">
    </label>
  </form>

  <!-- SUBMIT BUTTON -->
  <button id="submit-button" type="button" name="button">
    Get Weather
  </button>

  <hr>

  <h4>
    Location:
  </h4>
  <p class="location">
    Location
  </p>
  <p class="zip-code">
    Zip Code
  </p>

  <h4>

  </h4>
  <p class="city-name">

  </p>

  <!-- <h4>State:</h4> -->
  <p class="state">

  </p>

  <!-- <h4>Zip Code:</h4> -->
  <p class="zip-code">

  </p>

  <h4>
    Icon URL
  </h4>
  <p class="icon-url">
    Icon Url
  </p>

  <h4>
    Weather:
  </h4>
  <p class="weather">
    Weather
  </p>

  <h4>
    Temperature:
  </h4>
  <p class="temp-string">
    Temperature String
  </p>

  <h4>
    Feels Like:
  </h4>
  <p class="feels-like">
    Feels Like
  </p>

  <h4>
    Relative Humidity:
  </h4>
  <p class="rel-humidity">
    Relative Humidity
  </p>

  <h4>
    Wind Direction:
  </h4>
  <p class="wind-direction">
    Wind Direction
  </p>

  <h4>
    Wind MPH:
  </h4>
  <p class="wind-mph">
    Wind MPH
  </p>


  <h4>
    Forecast
  </h4>
  <p class="forecast">
    Forecast
  </p>


</div>
