<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>
        <center>Weather Buddy
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form">
      <!-- State Input by User -->
      <form>
        <label>
          State: (Ex: Texas or TX)<br>
          <input id="state-search"type="text">
        </label>
      </form>
      <!-- City Input by User -->
      <form>
        <label>
          City:<br>
          <input id="city-search" type="text">
        </label>
      </form>
      <!-- SUBMIT BUTTON -->
      <button id="submit-button" type="button" name="button">
        Get Weather
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <h4>
        Location:
      </h4>
      <p class="location">
      </p>
      <p class="zip-code">
      </p>
    </div>
    <div class="col-sm-4">
      <h4>
        Image:
      </h4>
      <p class="icon-url">
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4>
        Weather:
      </h4>
      <p class="weather">
      </p>
    </div>
    <div class="col-sm-4">
      <h4>
        Temperature:
      </h4>
      <p class="temp-string">
      </p>
    </div>
    <div class="col-sm-4">
      <h4>
        Feels Like:
      </h4>
      <p class="feels-like">
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4>
        Relative Humidity:
      </h4>
      <p class="rel-humidity">
      </p>
    </div>
    <div class="col-sm-4">
      <h4>
        Wind Direction:
      </h4>
      <p class="wind-direction">
      </p>
    </div>
    <div class="col-sm-4">
      <h4>
        Wind MPH:
      </h4>
      <p class="wind-mph">
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>
        Forecast
      </h4>
      <p class="forecast">
      </p>
    </div>
  </div>

</div>
