<div class="container">

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        <center>Weather Buddy
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p id="text1">
      </p>
      <p id="text2">
      </p>
    </div>
  </div>

  <!-- displays search form -->
  <div class="row">
    <div class="col-sm-12 form">
      <!-- State Input by User -->
      <form method="post" name="form" onsubmit="return validation()">
        <label>
          <p>
            State: (Ex: Texas or TX)
          </p>
          <input id="state-search" type="text" name="state">
        </label>
        <br>
      <!-- City Input by User -->
        <label>
          <p>
            City:
          </p>
          <input id="city-search" type="text" name="city">
        </label>
      </form>
      <!-- SUBMIT BUTTON -->
      <button id="submit-button" type="button" name="button" value="submit">
        Get Weather
      </button>
    </div>
  </div>

  <hr>

  <!-- displays location, country, zip -->
  <div class="row">
    <div class="col-sm-12">
      <center><p class="location">
      </p>
      <center><p class="zip-code">
      </p>
    </div>
  </div>

  <!-- displays link to weather forecast -->
  <div class="row">
    <div class="col-sm-12">
      <center><p class="forecast">
      </p>
    </div>
  </div>

  <!-- displays current weather conditions -->
  <div class="content">
    <div class="divone">
      <p class="weather">
      </p>
      <p class="icon-url">
      </p>
      <p class="temp-string">
      </p>
      <p class="feels-like">
      </p>
    </div>
    <div class="divtwo">
      <br>
      <p class="rel-humidity">
      </p>
      <p class="wind-string">
      </p>
      <p class="wind-direction">
      </p>
      <p class="wind-mph">
      </p>
    </div>
    <div class="divthree">
      <br>
      <p class="visibility-mi">
      </p>
      <p class="heat-index">
      </p>
      <p class="dewpoint-string">
      </p>
    </div>
  </div>

  <hr>

</div>
<!-- container end -->

<div class="footer">
  <h3>
    Weather Buddy App created by <a href="https://stevelicata.github.io/WebDevPortfolio/" target="_blank">Steve Licata</a>
  </h3>
</div>
