<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>
        <center>Weather Buddy
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form">
      <!-- State Input by User -->
      <form>
        <label>
          State: (Ex: Texas or TX)<br>
          <input id="state-search"type="text">
        </label>
      </form>
      <!-- City Input by User -->
      <form>
        <label>
          City:<br>
          <input id="city-search" type="text">
        </label>
      </form>
      <!-- SUBMIT BUTTON -->
      <button id="submit-button" type="button" name="button">
        Get Weather
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <p class="location">
      </p>
      <p class="zip-code">
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p class="weather">
      </p>
      <p class="icon-url">
      </p>
      <p class="temp-string">
      </p>
      <p class="feels-like">
      </p>
      <p class="rel-humidity">
      </p>
      <p class="wind-direction">
      </p>
      <p class="wind-mph">
      </p>
      <p class="visibility-mi">
      </p>
      <p class="heat-index">        
      </p>
      <p class="dewpoint-string">
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p class="forecast">
      </p>
    </div>
  </div>

  <hr>

</div>

<div class="footer">
  <h2>
    Weather Buddy created by <a href="https://stevelicata.github.io/WebDevPortfolio/" target="_blank">Steve Licata</a>
  </h2>
</div>
