body {
  background-color: #283149;
}

h1 {
  font-style: normal;
  color: #F73859;
}

h3 {
  color: #F73859;
}

h4 {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  color: #404B69;
}

p {
  font-weight: bold;
  color: #DBEDF3;
}

.form {
  text-align: center;
}

.footer {
  text-align: center;
}

a {
  color: #F73859;
}

a:hover {
  color: white;
  text-decoration: none;
}

.forecast {
  font-size: 25px;
}

#text1, #text2 {
  text-align: center;
}

/* MOBILE Layout */
@media screen and (min-width: 320px) and (max-width: 480px) {
        .container, .content {
          text-align: center;
        }
      }

/* TABLET layout */
@media screen and (min-width: 480px) and (max-width: 1024px){
        .content {
          display: flex;
          flex-wrap: wrap;
        }
        .divone {
          width: 35%;
          text-align: left;
        }
        .divtwo {
          width: 30%;
          text-align: center;
        }
        .divthree {
          width: 30%;
          text-align: right;
        }
      }
/* DESKTOP layout*/
@media only screen and (min-width: 1024px) {
        .content {
          display: flex;
          flex-wrap: wrap;
        }
        .divone {
          width: 35%;
          text-align: left;
        }
        .divtwo {
          width: 30%;
          text-align: center;
        }
        .divthree {
          width: 30%;
          text-align: right;
        }
      }
