body {
  background-color: #283149;
}

h1 {
  font-style: normal;
  color: #F73859;
}

h3 {
  color: #F73859;
}

h4 {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  color: #404B69;
}

p {
  font-weight: bold;
  color: #DBEDF3;
}

.form {
  text-align: center;
}

.footer {
  text-align: center;
}

a {
  color: #F73859;
}

a:hover {
  color: white;
  text-decoration: none;
}

.forecast {
  font-size: 25px;
}

#text1, #text2 {
  text-align: center;
}
