body {
  background-color: lightblue;
}

h1 {
  font-style: normal;
}

h4 {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
}

p {
  font-weight: bold;
}

.form {
  text-align: center;
}
